@font-face{
    font-family: Caviar;
    src: url(../fontes/CaviarDreams.ttf);
}

body{
    background-color: brown;
    background-image: url(../img/fundo3.png);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; /*Alinhamento*/
    position: absolute; /*Alinhamento*/
    width:100%; /*Alinhamento*/
    color:rgb(11, 14, 14);
    text-shadow: 0.05em 0.05em 0.1 rgb(0, 0, 0);
    
    
    
}

h1{
    text-align: center;
    color: #646457;
    font-size: 1.5em;
}

a{
    color: #536483;
    text-decoration: none;
    padding: 10px;
}

#principal{
    width: 900px; 
    display: inline-block; /*Alinhamento*/
    position: relative;    /*Alinhamento*/
    
}

#menu{
    background-color: #fbfb53;
    padding: 18px;
    width: 96%;
    font-size: 24px;
    font-family: Caviar;
    
}

.conteudo{
    text-align: left;
   background-image: url(../img/fundo2.jpg);
    background-color:#F5572F;
    padding: 10px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background-size: cover;
   
    
}

.centralizar{
    text-align: center;
}

.imgcampanha{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px;
    border-style: solid;
    border-color: #facfac;
}

.texto{
    
    border-radius: 60px;
}

